<section class="container">
    <div class="row ">
        <div class=" m-2 col-md-10">
            <div class="content text-end">
                <a class="btn btn-primary m-2"  routerLink="/register-Student">Register Student</a>
                <table class="table text-center">
                    <thead>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th colspan="2">CourseName</th>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Mohamed</td>
                            <td>22</td>
                            <td>01063284253</td>
                            <td>mohamed_gamal86@yahoo.com</td>
                            <td>English,Math</td>
                        </tr> -->
                        <tr *ngFor="let student of studentData">
                            <td>{{student.name}}</td>
                            <td>{{student.age}}</td>
                            <td>{{student.phone}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.course1}}</td>
                            <td>{{student.course2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>